@import './vars/context.scss';

* {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
}
html {
  background-color: #1a1824;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #f6f6f6;
  }
}
body {
  width: 100% !important;
  font-size: 14px;
  line-height: 1.5;
  background-color: #1a1824;
  overflow-x: hidden;
  @include size-s {
    font-size: 16px;
  }
}

main {
  width: 100%;
  margin-bottom: 190px;
  .mainWrapper {
    position: relative;
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 0;
    transition: 0.2s;
    @include size-s {
      width: 80vw;
      margin: 0 auto;
    }
    @include size-xl {
      width: 70vw;
    }
    @include size-ultra {
      width: 50vw;
    }
  }
}
