html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #1a1824;
  /* color: #edf2ef; */
  overflow-x: hidden;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
